@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ft: "Poppins", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #f4f4f6;
  font-family: var(--ft);
}

