@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button {
    cursor: pointer;
    outline: none;
  }
}

:root {
  --ft: "Poppins", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ft);
}

#app {
  --tw-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-opacity));
  min-height: 100svh;
  color: rgb(229 231 235 / var(--tw-opacity));
  display: flex;
  flex-direction: column;
}
